.wrapper {
  padding: 24px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-weight: 600;
}

.content {
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-wrap: nowrap;
}
